html,
body {
    height: 100%;
    width: 100%;
    background: #ffe;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.marry {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.marry-logo {
    text-align: center;
    margin: auto;
}

.marry-text {
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.marry-bg {
    width: 600px;
    text-align: center;
    margin: 50px auto;
}

.musicButton {
    animation: rotate 10s infinite linear;
    -webkit-animation: rotate 10s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.marry-foot {
    margin: auto;
    text-align: center;
}

.marry-foot > div {
    margin: auto;
    text-align: center;
    width: 300px;
    height: auto;
}